autoelicit-seed/
.env
seed_generation/cache/
seed_generation/initial_states/
seed_generation/logs/
evaluation_examples/
results/
seed_generation_logs/
seed_evaluation_logs/
perturbed_queries/
utils/__pycache__/
__pycache__/
logs/
cache/